<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PrOQ Web</title>

    <style>
        .color-red {
            color: red;
        }
    </style>
</head>
<body>

    <div id="root">

        <task-list>
            <task>Go to store</task>
            <task>Go to work</task>
            <task>Go to sleep</task>
        </task-list>
        

        <!--<h1>Tasks</h1>
  
        <ul>
            <li v-for="task in tasks">
                {{ task.description }} 
                <button v-if="task.completed" @click="task.completed = false">Incomplete</button>
                <button v-else @click="task.completed = true">Complete</button>
            </li>
        </ul>

        <h1>Complete Tasks</h1>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>

        <h1>Incomplete Tasks</h1>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>

        <ul>
            <li v-for="name in names" v-text='name'></li>
        </ul>

        <input type="text" v-model="newName">

        <button @click="addName" :title="title">Add Name</button>

        <h1 :class="className" v-text="message"></h1>

        <button :disabled="disabled" @click="printMessage">Click</button> -->
    </div>
    
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
    <!-- <script>
    var app = new Vue({
        el: '#root',
        data: {
            title: "The title attribute",
            newName: '',
            names: ['Joe', 'Mary', 'Jane', 'Jack'],
            className: 'color-red',
            disabled: true,
            tasks: [
                { description: 'Go to the store', completed: false },
                { description: 'Coding practice', completed: false },
                { description: 'Study the sermons', completed: false },
                { description: 'Read chapter', completed: false },
                { description: 'Exercise', completed: false },
                { description: 'Wash clothes', completed: false },
                { description: 'Spend time with family', completed: false }
            ]
        },

        computed: {

            completeTasks() {
                return this.tasks.filter(task => task.completed);
            },

            incompleteTasks() {
                return this.tasks.filter(task => !task.completed);
            }

        },

        methods: {

            addName() {
                this.names.push(this.newName);
                this.newName = this.message = '';
                this.disabled = false;
            },

            printMessage() {
                this.message = 'Name list updated!';
                this.disabled = true;
            }

        }

        


    })

    </script> -->
</body>
</html>