.home-banner {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-header {
    position: relative;
    height: 500px;
    background-image: url('/img/geese-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header-content {
    z-index: 2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(25px);
    opacity: 0;
}
/* Notifications */
.toast {
    background-color: #ffffff !important;
    opacity: 1 !important;
}

.book-status {
    max-width: 1520px;
    padding: 0 20px;
    margin-top: 25px;
}
    .book-status span {
        width: 75px;
        text-align: center;
    }
    .book-status div {
        width: 90%;
    }
    .book-status .progress {
        height: 25px;
    }
.books-nav {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
}
.book-details-list {
    margin-bottom: 75px;
}
.book-details {
    max-width: 512px;
    margin: 0 auto;
    padding: 25px 0 25px 10px;
    justify-content: space-between;
}
.list-1, .list-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.list-1 .book-details:nth-child(even) {
    background-color: #d9d9d9;
}
.list-2 .book-details:nth-child(odd) {
    background-color: #d9d9d9;
}
.book-details > h4, .book-details > div {
    width: 100%;
    max-width: 150px;
}
.tab-content > .active {
    display: flex !important;
    flex-wrap: wrap;
}
.sig-count {
    flex-direction: column;
}
.sig-stars {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
    .sig-stars > div {
        position: relative;
    }
/* Star Popovers */
.popover.bs-popover-top {
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-82px, -185px, 0px);
}
    .popover.bs-popover-top > .arrow {
        left: 85px;
    }
.popover-header {
    height: 46px;
    display: flex;
    align-items: center;
}
    .popover-header > span {
        min-width: 115px;
    }
    .popover-header .edit-signature {
        padding: 7px;
        cursor: pointer;
        border-radius: 0.2rem;
    }
    .popover-header .edit-signature:hover {
        background-color: #e6e6e6;
    }
.popover-body .date, .popover-body .listener{
    height: 30px;
    margin-bottom: 7px;
}
/* Add Signature Form */
.formErrors {
    border-width: 2px;
    box-shadow: 0px 0px 2px 3px #fd5354;
}
.signatureWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8fafc;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.give-sig {
    margin: 0 auto;
    max-width: 797px;
    padding: 10px;
}
.give-sig .form-control {
    min-width: 165px;
    margin: 0 10px 10px;
}
.give-sig .custom-checkbox {
    margin: 0 10px 10px;
}
.give-sig input[type=submit] {
    width: 100%;
    margin: 0 10px 10px;
}

.active.book-1-color {
    background-color: #f7b653 !important;
}
.active.book-2-color {
    background-color: #448922 !important;
}
.active.book-3-color {
    background-color: #dc6d37 !important;
}
.active.book-4-color {
    background-color: #3886d7 !important;
}
.active.book-5-color {
    background-color: #6c398c !important;
}
.active.book-6-color {
    background-color: #0d5897 !important;
}
.active.book-7-color {
    background-color: #55c9ee !important;
}
.default-star {
    color: #ffe300 !important;
}
.book-1-star {
    color: #f7b653 !important;
}
.book-2-star {
    color: #448922 !important;
}
.book-3-star {
    color: #dc6d37 !important;
}
.book-4-star {
    color: #3886d7 !important;
}
.book-5-star {
    color: #6c398c !important;
}
.book-6-star {
    color: #0d5897 !important;
}
.book-7-star {
    color: #55c9ee !important;
}
@media only screen and (max-width: 672px) {
    .book-details {
        justify-content: center;
    }
    .book-details h4 {
        text-align: center;
        width: 100%;
    }
    .book-details div {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0.5rem;
    }
    .sig-count {
        flex-direction: row;
    }
    .give-sig input[type=submit] {
        width: 100%;
    }
    h1 {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 460px) {
    .home-header {
        background-position: -14rem center;
    }
}